/*Utility Classes*/

body{
	background: linear-gradient(45deg, #bdc3c7, #2c3e50) ;
	font-family: monospace;
	min-width: 250px;
	margin: 0;
}

nav{
	position: fixed;
	top :0;
	left : 0;
	width: 100%;
	height: 60px;
	padding: 2px 90px;
	box-sizing: border-box;
	background:linear-gradient(45deg,#794A17, #5F6C79);
	opacity: 0.2;
	border-bottom: 1px solid #fff;
}

nav:hover{
	opacity: 1;
}
nav h1{
	padding: -6px 15px;
	padding-right:-40px ;
	margin-right: -40px;
	margin-left: -55px;
	height: 50px;
	float: left;
	font-size: 20px;
	color: #fff;	
	min-width: 150px;
}

nav ul{
	list-style: none;
	float: right;
	margin:0;
	padding: 0;
	margin-right: -60px;
	display: flex;
	min-width: 150px;
}

nav ul li a{
	line-height: 80px;
	color: #fff;
	padding: 2px 15px; /*space bw text and border , space between elements*/
	text-decoration: none;
	font-size: 12px;
	font-weight: bold;
	text-transform: uppercase;	
}

nav ul li a:hover{
	background: rgba(0,0,0,0.2);
	border-radius: 5px;
}

@media(max-width: 700px){
	nav{
		height: 70px;
	}

	nav h1{
		float: none;
		text-align: center;
		padding-bottom: 0;
	}

	nav ul{
		float: none;
		text-align: center;
		width: 100%;
		margin-top: -40px;
		margin-left: -20px;
		padding: -20px;
	}

	nav ul li{
		margin-top: -35px;
		width: 50px;
		padding: 0px 10px;
	}
	nav ul li a{
		padding: 0px 2px;
	}
}

.hero-image{
	background : url(myCycle.jpg);
	height : 100vh;
	width: 100%;
	border-radius: 10px;
	background-size : cover;
	position : relative; 
	border: 1px gray solid;
	min-width: 250px;
}
.hero-wrapper{
	color: white;
	position:  absolute;
	top : 50%;
	left : 50%;
	transform : translate(-50%,-50%); 
	text-align: center;
	min-width: 250px;
}
.hero-wrapper h1 {
	font-size: 2.4rem;
	text-align : center;
}
.hero-wrapper span{
	display: block;
	text-align: center;
}

.hero-wrapper button{
	color: black;
	border:none;
	border-radius: 10px;
	padding:3px 10px;
	opacity: 0.6;
}

.hero-wrapper button:hover{
    opacity: 1;
	transform: scale(1.1);
}

.hero-wrapper button:active{
	transform: scale(0.9);
}
/* products section */

.image-responsive{
	max-width: 100%;
	object-fit: cover;
	width: 180px;
	height: 180px;
	padding: 0;
	border-radius: 5px;

}

.products{
	margin-top: 20px;
	width: 95%;
	margin-left: auto;
	margin-right: auto;
}


.product-list-item{
     float: left;
     width: 200px;
     height: 250px;
     margin:0;
     margin-left: 1rem;
     color: black;
     opacity: 0.8;
     text-align: center;
}
.product-list-item:hover{
	opacity: 1;
	color: #FFFFFF;
}
.product-list-item h2{
	margin-top: 0;
	margin-bottom: 9px;
}

.product-list-item p{
	margin-top: -0.5em;
	margin-bottom: 2em;
}

@media(max-width: 700px){
	.image-responsive{
		width: 120%;
	}
}

@media(max-width: 470px){
     .product-list-item{
     	width: 90%;
     	height: 80%;

     }
    } 
.footer{
	position: fixed;
	bottom: 0;
	height:25px;
	width: 100%;
	background-color: lightgray;
}

.footer p {
	text-align: center;
	margin-top: 0.9px;
}

.fa-solid{
	position: fixed;
	bottom: 0;
    left:90%;
	color:darkblue;
	margin-bottom: 4px;
}

.fa-solid:hover{
	transform: scale(1.3);
	color:black;
}


