/*Utility Classes*/
.image-responsive{
	max-width: 100%;
	object-fit: cover;
	width: 240px;
	height: 240px;
}

body{
	background: linear-gradient(45deg, white,black) ;
	font-family: monospace;
}
.hero-image{
	background : url(myCycle.jpg);
	height : 100vh;
	background-size : cover;
	position : relative; 
}
.hero-wrapper{
	color: white;
	position:  absolute;
	top : 50%;
	left : 50%;
	transform : translate(-50%,-50%); 
	text-align: center;
}
.hero-wrapper h1 {
	font-size: 2.4rem;
	text-align : center;
}
.hero-wrapper span{
	display: block;
	text-align: center;
}

.form-class .form-input-class {
     display : block;
     width : 90%;
     margin-left: auto;
     margin-right: auto;
     border-radius: 2rem;
     border : none;
     padding : .099rem;
     outline: none;
     text-align: center;

}
.form-class button{
	width: 40%;
	margin-left: auto;
	margin-right: auto;
	display: block;
	background-color: darkgrey;
	color: white;
	border: none;
	border-radius: .3rem;
	padding: .09rem;
	margin-top: .5rem;  
}

/* products section */

.products{
	margin-top: 1rem;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
}


.product-list-item{
     float: left;
     width: 30%;
     margin-left: 1rem;
}

@media screen and(max-width: 700px)














