/*Utility Classes*/
.image-responsive{
	max-width: 100%;
	object-fit: cover;
	width: 240px;
	height: 240px;
	border-radius: 25px;
}

body{
	background: linear-gradient(45deg, #bdc3c7, #2c3e50) ;
	font-family: monospace;
}
nav{
	position: fixed;
	top :0;
	left : 0;
	width: 100%;
	height: 60px;
	padding: 2px 90px;
	box-sizing: border-box;
	background:linear-gradient(45deg,#794A17, #5F6C79);
	opacity: 0.3;
	border-bottom: 1px solid #fff;
}

nav:hover{
	opacity: 0.85;
}
nav h1{
	padding: -6px 15px;
	margin-left: -55px;
	height: 50px;
	float: left;
	font-size: 20px;
	color: #fff;	
}

nav ul{
	list-style: none;
	float: right;
	margin: 0;
	padding: 0;
	display: flex;
}

nav ul li a{
	line-height: 80px;
	color: #fff;
	padding: 2px 15px; /*space bw text and border , space between elements*/
	text-decoration: none;
	font-size: 12px;
	font-weight: bold;
	text-transform: uppercase;
}

nav ul li a:hover{
	background: rgba(0,0,0,0.2);
	border-radius: 5px;

}
.hero-image{
	background : url(myCycle.jpg);
	height : 100vh;
	width: 100%;
	background-size : cover;
	position : relative; 
}
.hero-wrapper{
	color: white;
	position:  absolute;
	top : 50%;
	left : 50%;
	transform : translate(-50%,-50%); 
	text-align: center;
}
.hero-wrapper h1 {
	font-size: 2.4rem;
	text-align : center;
}
.hero-wrapper span{
	display: block;
	text-align: center;
}

.form-class .form-input-class {
     display : block;
     width : 90%;
     margin-left: auto;
     margin-right: auto;
     border-radius: 2rem;
     border : none;
     padding : .099rem;
     outline: none;
     text-align: center;
     opacity: 0.7;
}

.form-class :hover{
	opacity: 1;
}
.form-class button{
	width: 40%;
	margin-left: auto;
	margin-right: auto;
	display: block;
	background-color: darkgrey;
	color: white;
	border: none;
	border-radius: .3rem;
	padding: .09rem;
	margin-top: .5rem;
	opacity: 0.7;  
}
.form-class button:hover{
	opacity: 1;
}
/* products section */

.products{
	margin-top: 1rem;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
}


.product-list-item{
     float: left;
     width: 30%;
     margin-left: 1rem;
     color: black;
     opacity: 0.8;
}
.product-list-item:hover{
	opacity: 1;
	color: #343224;
}













